/*Mobile scaling*/
.seven-day-container{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 2000px;
    justify-content: center;
}

.seven-day-weather-card{
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.8); 
    height: auto;
    width: 400px;
    margin-top: 10px;
    color: black;
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
    padding: 10px;
  }

.seven-day-weather-card p:first-of-type {
    font-size: 1.5em;
}

@media only screen and (min-width: 800px) {

.seven-day-container{
    border-radius: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: auto;
}


.seven-day-card-container{
    border-radius: 15px;
    padding: 10px;
    height: 350px;
}

.seven-day-weather-card{
    height: 320px;
    width: 200px;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
  }

}