@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("images/gradient-sky.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (min-width: 800px) {
  body{
    background-image: url("images/illustration2.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

